In [1]:
import pandas as pd

In [2]:
companies_df = pd.read_csv("./data/largest_us_companies_2022.csv")
companies_df

,Rank,Name,Name Link,Symbol,Industry,2022 Revenue (USD millions),Revenue Growth,Employees,Headquarters City,Headquarters Link,Headquarters Geo Loc
0,1,Walmart,https://en.wikipedia.org/wiki/Walmart,WMT,Retail,"572,754",2.4%,"2,300,000","Bentonville, Arkansas","https://en.wikipedia.org/wiki/Bentonville,_Ark...","36.366667, -94.213333"
1,2,Amazon,https://en.wikipedia.org/wiki/Amazon_(company),AMZN,Retail,"469,822",21.7%,"1,608,000","Seattle, Washington",https://en.wikipedia.org/wiki/Seattle,"47.609722, -122.333056"
2,3,Apple,https://en.wikipedia.org/wiki/Apple_Inc,AAPL,Technology,"365,817",33.2%,"154,000","Cupertino, California","https://en.wikipedia.org/wiki/Cupertino,_Calif...","37.323056, -122.031944"
3,4,CVS Health,https://en.wikipedia.org/wiki/CVS_Health,CVS,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island","https://en.wikipedia.org/wiki/Woonsocket,_Rhod...","42.008333, -71.516111"
4,5,UnitedHealth Group,https://en.wikipedia.org/wiki/UnitedHealth_Group,UNH,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota","https://en.wikipedia.org/wiki/Minnetonka,_Minn...","44.913333, -93.503333"
...,...,...,...,...,...,...,...,...,...,...,...
95,96,General Dynamics,https://en.wikipedia.org/wiki/General_Dynamics,GD,Aerospace and Defense,"38,469",8.7%,"103,100","Reston, Virginia","https://en.wikipedia.org/wiki/Reston,_Virginia","38.954444, -77.346389"
96,97,Chico's FAS,https://en.wikipedia.org/wiki/CHS_Inc,CHS,Agriculture Cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota",https://en.wikipedia.org/wiki/Inver_Grove_Heights,"44.848056, -93.042778"
97,98,USAA,https://en.wikipedia.org/wiki/USAA,NaN,Financial,"37,470",3.2%,"37,335","San Antonio, Texas",https://en.wikipedia.org/wiki/San_Antonio,"29.42412, -98.49363"
98,99,Northwestern Mutual,https://en.wikipedia.org/wiki/Northwestern_Mutual,NaN,General Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin",https://en.wikipedia.org/wiki/Milwaukee,"43.05, -87.95"
99,100,Nucor,https://en.wikipedia.org/wiki/Nucor,NUE,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina","https://en.wikipedia.org/wiki/Charlotte,_North...","35.227222, -80.843056"

In [3]:
companies_df.columns

Index(['Rank', 'Name', 'Name Link', 'Symbol', 'Industry',
       '2022 Revenue (USD millions)', 'Revenue Growth', 'Employees',
       'Headquarters City', 'Headquarters Link', 'Headquarters Geo Loc'],
      dtype='object')

In [4]:
companies_df = companies_df.rename(columns={"Rank": "rank", "Name": "name", "Name Link": "name_link",
                                            "Symbol": "symbol", "Industry": "industry",
                                            "2022 Revenue (USD millions)": "rev_usd_mil",
                                            "Revenue Growth": "rev_growth_per", "Employees": "employees",
                                            "Headquarters City": "headquarters_city", "Headquarters Link": "headquarters_link",
                                            "Headquarters Geo Loc": "headquarters_geo_loc"} )

In [5]:
companies_df.columns

Index(['rank', 'name', 'name_link', 'symbol', 'industry', 'rev_usd_mil',
       'rev_growth_per', 'employees', 'headquarters_city', 'headquarters_link',
       'headquarters_geo_loc'],
      dtype='object')

In [6]:
companies_df[['headquarters_lat','headquarters_lon']] = companies_df['headquarters_geo_loc'].str.split(', ',expand=True)
companies_df

,rank,name,name_link,symbol,industry,rev_usd_mil,rev_growth_per,employees,headquarters_city,headquarters_link,headquarters_geo_loc,headquarters_lat,headquarters_lon
0,1,Walmart,https://en.wikipedia.org/wiki/Walmart,WMT,Retail,"572,754",2.4%,"2,300,000","Bentonville, Arkansas","https://en.wikipedia.org/wiki/Bentonville,_Ark...","36.366667, -94.213333",36.366667,-94.213333
1,2,Amazon,https://en.wikipedia.org/wiki/Amazon_(company),AMZN,Retail,"469,822",21.7%,"1,608,000","Seattle, Washington",https://en.wikipedia.org/wiki/Seattle,"47.609722, -122.333056",47.609722,-122.333056
2,3,Apple,https://en.wikipedia.org/wiki/Apple_Inc,AAPL,Technology,"365,817",33.2%,"154,000","Cupertino, California","https://en.wikipedia.org/wiki/Cupertino,_Calif...","37.323056, -122.031944",37.323056,-122.031944
3,4,CVS Health,https://en.wikipedia.org/wiki/CVS_Health,CVS,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island","https://en.wikipedia.org/wiki/Woonsocket,_Rhod...","42.008333, -71.516111",42.008333,-71.516111
4,5,UnitedHealth Group,https://en.wikipedia.org/wiki/UnitedHealth_Group,UNH,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota","https://en.wikipedia.org/wiki/Minnetonka,_Minn...","44.913333, -93.503333",44.913333,-93.503333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,General Dynamics,https://en.wikipedia.org/wiki/General_Dynamics,GD,Aerospace and Defense,"38,469",8.7%,"103,100","Reston, Virginia","https://en.wikipedia.org/wiki/Reston,_Virginia","38.954444, -77.346389",38.954444,-77.346389
96,97,Chico's FAS,https://en.wikipedia.org/wiki/CHS_Inc,CHS,Agriculture Cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota",https://en.wikipedia.org/wiki/Inver_Grove_Heights,"44.848056, -93.042778",44.848056,-93.042778
97,98,USAA,https://en.wikipedia.org/wiki/USAA,NaN,Financial,"37,470",3.2%,"37,335","San Antonio, Texas",https://en.wikipedia.org/wiki/San_Antonio,"29.42412, -98.49363",29.42412,-98.49363
98,99,Northwestern Mutual,https://en.wikipedia.org/wiki/Northwestern_Mutual,NaN,General Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin",https://en.wikipedia.org/wiki/Milwaukee,"43.05, -87.95",43.05,-87.95
99,100,Nucor,https://en.wikipedia.org/wiki/Nucor,NUE,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina","https://en.wikipedia.org/wiki/Charlotte,_North...","35.227222, -80.843056",35.227222,-80.843056

In [7]:
companies_df = companies_df.drop('headquarters_geo_loc', axis=1)

In [8]:
companies_df.columns

Index(['rank', 'name', 'name_link', 'symbol', 'industry', 'rev_usd_mil',
       'rev_growth_per', 'employees', 'headquarters_city', 'headquarters_link',
       'headquarters_lat', 'headquarters_lon'],
      dtype='object')

In [9]:
companies_df['rev_usd_mil'] = companies_df['rev_usd_mil'].str.replace(',', '')
companies_df['employees'] = companies_df['employees'].str.replace(',', '')
companies_df

,rank,name,name_link,symbol,industry,rev_usd_mil,rev_growth_per,employees,headquarters_city,headquarters_link,headquarters_lat,headquarters_lon
0,1,Walmart,https://en.wikipedia.org/wiki/Walmart,WMT,Retail,572754,2.4%,2300000,"Bentonville, Arkansas","https://en.wikipedia.org/wiki/Bentonville,_Ark...",36.366667,-94.213333
1,2,Amazon,https://en.wikipedia.org/wiki/Amazon_(company),AMZN,Retail,469822,21.7%,1608000,"Seattle, Washington",https://en.wikipedia.org/wiki/Seattle,47.609722,-122.333056
2,3,Apple,https://en.wikipedia.org/wiki/Apple_Inc,AAPL,Technology,365817,33.2%,154000,"Cupertino, California","https://en.wikipedia.org/wiki/Cupertino,_Calif...",37.323056,-122.031944
3,4,CVS Health,https://en.wikipedia.org/wiki/CVS_Health,CVS,Healthcare,292111,32.0%,258000,"Woonsocket, Rhode Island","https://en.wikipedia.org/wiki/Woonsocket,_Rhod...",42.008333,-71.516111
4,5,UnitedHealth Group,https://en.wikipedia.org/wiki/UnitedHealth_Group,UNH,Healthcare,287597,11.8%,350000,"Minnetonka, Minnesota","https://en.wikipedia.org/wiki/Minnetonka,_Minn...",44.913333,-93.503333
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,General Dynamics,https://en.wikipedia.org/wiki/General_Dynamics,GD,Aerospace and Defense,38469,8.7%,103100,"Reston, Virginia","https://en.wikipedia.org/wiki/Reston,_Virginia",38.954444,-77.346389
96,97,Chico's FAS,https://en.wikipedia.org/wiki/CHS_Inc,CHS,Agriculture Cooperative,38448,1.4%,9941,"Inver Grove Heights, Minnesota",https://en.wikipedia.org/wiki/Inver_Grove_Heights,44.848056,-93.042778
97,98,USAA,https://en.wikipedia.org/wiki/USAA,NaN,Financial,37470,3.2%,37335,"San Antonio, Texas",https://en.wikipedia.org/wiki/San_Antonio,29.42412,-98.49363
98,99,Northwestern Mutual,https://en.wikipedia.org/wiki/Northwestern_Mutual,NaN,General Insurance,36751,8.8%,7585,"Milwaukee, Wisconsin",https://en.wikipedia.org/wiki/Milwaukee,43.05,-87.95
99,100,Nucor,https://en.wikipedia.org/wiki/Nucor,NUE,Metals,36484,81.2%,28800,"Charlotte, North Carolina","https://en.wikipedia.org/wiki/Charlotte,_North...",35.227222,-80.843056

In [10]:
stocks_df = pd.read_csv("./data/stock_prices_2022.csv")
stocks_df

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,WMT,1/3/2022,144.000000,144.789993,143.009995,144.649994,141.830063,6902200
1,WMT,1/4/2022,144.039993,145.139999,141.759995,142.000000,139.231735,11310000
2,WMT,1/5/2022,142.850006,145.949997,142.740005,143.919998,141.114304,11806000
3,WMT,1/6/2022,143.619995,144.639999,142.399994,143.520004,140.722107,7276300
4,WMT,1/7/2022,143.500000,145.360001,142.960007,144.889999,142.065384,6574500
...,...,...,...,...,...,...,...,...
21581,ABBV,12/23/2022,163.389999,163.820007,162.330002,163.100006,160.091415,2685100
21582,ABBV,12/27/2022,163.490005,163.809998,161.779999,162.990005,159.983459,2669200
21583,ABBV,12/28/2022,163.699997,164.690002,162.110001,162.229996,159.237457,2944500
21584,ABBV,12/29/2022,162.960007,163.880005,162.190002,162.559998,159.561386,3112500
21585,ABBV,12/30/2022,162.229996,162.850006,159.820007,161.610001,158.628906,3680400

In [11]:
stocks_df.columns

Index(['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume'],
      dtype='object')

In [12]:
stocks_df = stocks_df.rename(columns={"Symbol": "symbol", "Date": "date", "Open": "open", "High": "high",
                                      "Low": "low", "Close": "close", "Adj Close": "adj_close", "Volume": "volume"} )

In [13]:
stocks_df.columns

Index(['symbol', 'date', 'open', 'high', 'low', 'close', 'adj_close',
       'volume'],
      dtype='object')

```sql
CREATE TABLE companies(
id INT,
rank INT,
name VARCHAR(100),
name_link VARCHAR(100),
symbol VARCHAR(10),
industry VARCHAR(100),
rev_usd_mil INT,
rev_growth_per VARCHAR(10),
employees INT,
headquarters_city VARCHAR(100),
headquarters_link VARCHAR(100),
headquarters_lat FLOAT,
headquarters_lon FLOAT
)```

```sql
CREATE TABLE stocks (
id INT,
symbol VARCHAR(10),
date DATE,
open DEC,
high DEC,
low DEC,
close DEC,
adj_close DEC,
volume INT
)```

In [14]:
import psycopg2
from sqlalchemy import create_engine

In [15]:
from config import user, password, host, port, db

In [16]:
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}")

In [23]:
companies_df.to_sql("companies",con=engine, if_exists="replace",index=False)

100

In [26]:
from sqlalchemy import text
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM companies"))
    for row in result:
        print(row)

(1, 'Walmart', 'https://en.wikipedia.org/wiki/Walmart', 'WMT', 'Retail', '572754', '\xa02.4%', '2300000', 'Bentonville, Arkansas', 'https://en.wikipedia.org/wiki/Bentonville,_Arkansas', '36.366667', '-94.213333')
(2, 'Amazon', 'https://en.wikipedia.org/wiki/Amazon_(company)', 'AMZN', 'Retail', '469822', '\xa021.7%', '1608000', 'Seattle, Washington', 'https://en.wikipedia.org/wiki/Seattle', '47.609722', '-122.333056')
(3, 'Apple', 'https://en.wikipedia.org/wiki/Apple_Inc', 'AAPL', 'Technology', '365817', '\xa033.2%', '154000', 'Cupertino, California', 'https://en.wikipedia.org/wiki/Cupertino,_California', '37.323056', '-122.031944')
(4, 'CVS Health', 'https://en.wikipedia.org/wiki/CVS_Health', 'CVS', 'Healthcare', '292111', '\xa032.0%', '258000', 'Woonsocket, Rhode Island', 'https://en.wikipedia.org/wiki/Woonsocket,_Rhode_Island', '42.008333', '-71.516111')
(5, 'UnitedHealth Group', 'https://en.wikipedia.org/wiki/UnitedHealth_Group', 'UNH', 'Healthcare', '287597', '\xa011.8%', '350000', 'Minnetonka, Minnesota', 'https://en.wikipedia.org/wiki/Minnetonka,_Minnesota', '44.913333', '-93.503333')
(6, 'Exxon Mobil', 'https://en.wikipedia.org/wiki/Exxon_Mobil', 'XOM', 'Petroluem Industry', '285640', '\xa057.4%', '63000', 'Irving, Texas', 'https://en.wikipedia.org/wiki/Irving,_Texas', '32.816667', '-96.95')
(7, 'Berkshire Hathaway', 'https://en.wikipedia.org/wiki/Berkshire_Hathaway', 'BRK-A', 'Conglomerate', '276094', '\xa012.5%', '372000', 'Omaha, Nebraska', 'https://en.wikipedia.org/wiki/Omaha,_Nebraska', '41.258611', '-95.9375')
(8, 'Alphabet', 'https://en.wikipedia.org/wiki/Alphabet_Inc', 'GOOG', 'Technology', '257637', '\xa041.2%', '156000', 'Mountain View, California', 'https://en.wikipedia.org/wiki/Mountain_View,_California', '37.389444', '-122.081944')
(9, 'McKesson Corporation', 'https://en.wikipedia.org/wiki/McKesson_Corporation', 'MCK', 'Healthcare', '238228', '\xa03.1%', '67500', 'Irving, Texas', 'https://en.wikipedia.org/wiki/Irving,_Texas', '32.816667', '-96.95')
(10, 'AmerisourceBergen', 'https://en.wikipedia.org/wiki/AmerisourceBergen', 'ABC', 'Pharmaceuticals', '213989', '\xa012.7%', '40000', 'Chesterbrook, Pennsylvania', 'https://en.wikipedia.org/wiki/Chesterbrook,_Pennsylvania', '40.074444', '-75.455')
(11, 'Microsoft', 'https://en.wikipedia.org/wiki/Microsoft', 'MSFT', 'Technology', '198087', '\xa017.5%', '181000', 'Redmond, Washington', 'https://en.wikipedia.org/wiki/Redmond,_Washington', '47.669444', '-122.123889')
(12, 'Costco', 'https://en.wikipedia.org/wiki/Costco', 'COST', 'Retail', '195929', '\xa017.5%', '288000', 'Issaquah, Washington', 'https://en.wikipedia.org/wiki/Issaquah,_Washington', '47.535556', '-122.043333')
(13, 'Cigna', 'https://en.wikipedia.org/wiki/Cigna', 'CI', 'Healthcare', '174078', '\xa08.5%', '72963', 'Bloomfield, Connecticut', 'https://en.wikipedia.org/wiki/Bloomfield,_Connecticut', '41.85', '-72.733333')
(14, 'AT&T', 'https://en.wikipedia.org/wiki/AT%26T', 'T', 'Conglomerate', '168864', '\xa0-1.7%', '202600', 'Dallas, Texas', 'https://en.wikipedia.org/wiki/Dallas', '32.779167', '-96.808889')
(15, 'Cardinal Health', 'https://en.wikipedia.org/wiki/Cardinal_Health', 'CAH', 'Healthcare', '162467', '\xa06.2%', '46827', 'Dublin, Ohio', 'https://en.wikipedia.org/wiki/Dublin,_Ohio', '40.109167', '-83.140278')
(16, 'Chevron Corporation', 'https://en.wikipedia.org/wiki/Chevron_Corporation', 'CVX', 'Petroluem Industry', '162465', '\xa071.6%', '42595', 'San Ramon, California', 'https://en.wikipedia.org/wiki/San_Ramon,_California', '37.78', '-121.978056')
(17, 'The Home Depot', 'https://en.wikipedia.org/wiki/The_Home_Depot', 'HD', 'Retail', '151157', '\xa014.4%', '490600', 'Atlanta, Georgia', 'https://en.wikipedia.org/wiki/Atlanta', '33.748889', '-84.39')
(18, 'Walgreens Boots Alliance', 'https://en.wikipedia.org/wiki/Walgreens_Boots_Alliance', 'WBA', 'Healthcare', '148579', '\xa06.5%', '258500', 'Deerfield, Illinois', 'https://en.wikipedia.org/wiki/Deerfield,_Illinois', '42.168333', '-87.851389')
(19, 'Marathon Petroleum', 'https://en.wikipedia.org/wiki/Marathon_Petroleum', 'MPC', 'Petroluem Industry', '141032', '\xa058.5%', '17700', 'Findlay, Ohio', 'https://en.wikipedia.org/wiki/Findlay,_Ohio', '41.042778', '-83.642222')
(20, 'Elevance Health', 'https://en.wikipedia.org/wiki/Anthem_(company)', 'ELV', 'Healthcare', '138639', '\xa013.8%', '98200', 'Indianapolis, Indiana', 'https://en.wikipedia.org/wiki/Indianapolis', '39.768611', '-86.158056')
(21, 'Kroger', 'https://en.wikipedia.org/wiki/Kroger', 'KR', 'Retail', '137888', '\xa04.1%', '420000', 'Cincinnati, Ohio', 'https://en.wikipedia.org/wiki/Cincinnati', '39.1031182', '-84.5120196')
(22, 'Ford Motor Company', 'https://en.wikipedia.org/wiki/Ford_Motor_Company', 'F', 'Automotive', '136341', '\xa07.2%', '183000', 'Dearborn, Michigan', 'https://en.wikipedia.org/wiki/Dearborn,_Michigan', '42.314444', '-83.213333')
(23, 'Verizon Communications', 'https://en.wikipedia.org/wiki/Verizon_Communications', 'VZ', 'Telecommunications', '133613', '\xa04.1%', '118400', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(24, 'JPMorgan Chase', 'https://en.wikipedia.org/wiki/JPMorgan_Chase', 'JPM', 'Financial', '127202', '\xa0-1.8%', '271025', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(25, 'General Motors', 'https://en.wikipedia.org/wiki/General_Motors', 'GM', 'Automotive', '127004', '\xa03.7%', '157000', 'Detroit, Michigan', 'https://en.wikipedia.org/wiki/Detroit', '42.331389', '-83.045833')
(26, 'Centene', 'https://en.wikipedia.org/wiki/Centene', 'CNC', 'Healthcare', '125982', '\xa013.4%', '72500', 'St. Louis, Missouri', 'https://en.wikipedia.org/wiki/St._Louis', '38.627222', '-90.197778')
(27, 'Meta Platforms', 'https://en.wikipedia.org/wiki/Meta_Platforms', 'META', 'Technology', '117385', '\xa037.2%', '71970', 'Menlo Park, California', 'https://en.wikipedia.org/wiki/Menlo_Park,_California', '37.452778', '-122.183333')
(28, 'Comcast', 'https://en.wikipedia.org/wiki/Comcast', 'CMCSA', 'Telecommunications', '116385', '\xa012.4%', '189000', 'Philadelphia, Pennsylvania', 'https://en.wikipedia.org/wiki/Philadelphia', '39.952778', '-75.163611')
(29, 'Phillips 66', 'https://en.wikipedia.org/wiki/Phillips_66', 'PSX', 'Petroluem Industry', '114852', '\xa075.4%', '14000', 'Houston, Texas', 'https://en.wikipedia.org/wiki/Houston', '29.762778', '-95.383056')
(30, 'Valero Energy', 'https://en.wikipedia.org/wiki/Valero_Energy', 'VLO', 'Petroluem Industry', '108332', '\xa080.2%', '9804', 'San Antonio, Texas', 'https://en.wikipedia.org/wiki/San_Antonio', '29.42412', '-98.49363')
(31, 'Dell Technologies', 'https://en.wikipedia.org/wiki/Dell_Technologies', 'DELL', 'Technology', '106995', '\xa013.6%', '133000', 'Round Rock, Texas', 'https://en.wikipedia.org/wiki/Round_Rock,_Texas', '30.508611', '-97.678889')
(32, 'Target Corporation', 'https://en.wikipedia.org/wiki/Target_Corporation', 'TGT', 'Retail', '106005', '\xa013.3%', '450000', 'Minneapolis, Minnesota', 'https://en.wikipedia.org/wiki/Minneapolis', '44.981944', '-93.269167')
(33, 'Fannie Mae', 'https://en.wikipedia.org/wiki/Fannie_Mae', 'FNMA', 'Financial', '101543', '\xa0-4.6%', '7400', 'Washington, D.C.', 'https://en.wikipedia.org/wiki/Washington,_D.C.', '38.904722', '-77.016389')
(34, 'United Parcel Service', 'https://en.wikipedia.org/wiki/United_Parcel_Service', 'UPS', 'Transportation', '97287', '\xa015.0%', '400945', 'Atlanta, Georgia', 'https://en.wikipedia.org/wiki/Atlanta', '33.748889', '-84.39')
(35, "Lowe's Companies", 'https://en.wikipedia.org/wiki/Lowe%27s', 'LOW', 'Retail', '96250', '\xa07.4%', '270000', 'Mooresville, North Carolina', 'https://en.wikipedia.org/wiki/Mooresville,_North_Carolina', '35.584444', '-80.820278')
(36, 'Bank of America', 'https://en.wikipedia.org/wiki/Bank_of_America', 'BAC', 'Financial', '93851', '\xa00.1%', '208248', 'Charlotte, North Carolina', 'https://en.wikipedia.org/wiki/Charlotte,_North_Carolina', '35.227222', '-80.843056')
(37, 'Johnson & Johnson', 'https://en.wikipedia.org/wiki/Johnson_%26_Johnson', 'JNJ', 'Pharmaceuticals', '93775', '\xa013.6%', '141700', 'New Brunswick, New Jersey', 'https://en.wikipedia.org/wiki/New_Brunswick,_New_Jersey', '40.486678', '-74.444414')
(38, 'Archer Daniels Midland', 'https://en.wikipedia.org/wiki/Archer_Daniels_Midland', 'ADM', 'Food Industry', '85959', '\xa032.5%', '39979', 'Chicago, Illinois', 'https://en.wikipedia.org/wiki/Chicago,_Illinois', '41.881944', '-87.627778')
(39, 'FedEx', 'https://en.wikipedia.org/wiki/FedEx', 'FDX', 'Transportation', '83959', '\xa021.3%', '484000', 'Memphis, Tennessee', 'https://en.wikipedia.org/wiki/Memphis,_Tennessee', '35.1175', '-89.971111')
(40, 'Humana', 'https://en.wikipedia.org/wiki/Humana', 'HUM', 'Healthcare', '83064', '\xa07.7%', '95500', 'Louisville, Kentucky', 'https://en.wikipedia.org/wiki/Louisville,_Kentucky', '38.328732', '-85.764771')
(41, 'Wells Fargo', 'https://en.wikipedia.org/wiki/Wells_Fargo', 'WFC', 'Financial', '82407', '\xa02.6%', '247848', 'San Francisco, California', 'https://en.wikipedia.org/wiki/San_Francisco', '37.7775', '-122.416389')
(42, 'State Farm', 'https://en.wikipedia.org/wiki/State_Farm', 'STFGX', 'Financial', '82407', '\xa04.2%', '53586', 'Bloomington, Illinois', 'https://en.wikipedia.org/wiki/Bloomington,_Illinois', '40.484167', '-88.993611')
(43, 'Pfizer', 'https://en.wikipedia.org/wiki/Pfizer', 'PFE', 'Pharmaceuticals', '81288', '\xa094.0%', '79000', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(44, 'Citigroup', 'https://en.wikipedia.org/wiki/Citigroup', 'C', 'Financial', '79865', '\xa0-10.1%', '221768', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(45, 'PepsiCo', 'https://en.wikipedia.org/wiki/PepsiCo', 'PEP', 'Beverages', '79474', '\xa012.9%', '309000', 'Purchase, New York', 'https://en.wikipedia.org/wiki/Purchase,_New_York', '41.040556', '-73.714444')
(46, 'Intel', 'https://en.wikipedia.org/wiki/Intel', 'INTC', 'Technology', '79024', '\xa01.5%', '121100', 'Santa Clara, California', 'https://en.wikipedia.org/wiki/Santa_Clara,_California', '37.354444', '-121.969167')
(47, 'Procter & Gamble', 'https://en.wikipedia.org/wiki/Procter_%26_Gamble', 'PG', 'Conglomerate', '76118', '\xa07.3%', '101000', 'Cincinnati, Ohio', 'https://en.wikipedia.org/wiki/Cincinnati', '39.1031182', '-84.5120196')
(48, 'General Electric', 'https://en.wikipedia.org/wiki/General_Electric', 'GE', 'Conglomerate', '74196', '\xa0-6.8%', '168000', 'Boston, Massachusetts', 'https://en.wikipedia.org/wiki/Boston', '42.360278', '-71.057778')
(49, 'International Business Machines', 'https://en.wikipedia.org/wiki/IBM', 'IBM', 'Technology', '72344', '\xa0-1.7%', '297800', 'Armonk, New York', 'https://en.wikipedia.org/wiki/Armonk,_New_York', '41.128611', '-73.707778')
(50, 'MetLife', 'https://en.wikipedia.org/wiki/MetLife', 'MET', 'Financial', '71080', '\xa04.8%', '43000', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(51, 'Prudential Financial', 'https://en.wikipedia.org/wiki/Prudential_Financial', 'PRU', 'Financial', '70934', '\xa024.4%', '40916', 'Newark, New Jersey', 'https://en.wikipedia.org/wiki/Newark,_New_Jersey', '40.72422', '-74.172574')
(52, 'Albertsons', 'https://en.wikipedia.org/wiki/Albertsons', 'ACI', 'Retail', '69690', '\xa011.6%', '300000', 'Boise, Idaho', 'https://en.wikipedia.org/wiki/Boise,_Idaho', '43.615833', '-116.201667')
(53, 'The Walt Disney Company', 'https://en.wikipedia.org/wiki/The_Walt_Disney_Company', 'DIS', 'Media', '67418', '\xa03.1%', '171000', 'Burbank, California', 'https://en.wikipedia.org/wiki/Burbank,_California', '34.180278', '-118.328333')
(54, 'Energy Transfer LP', 'https://en.wikipedia.org/wiki/Energy_Transfer_Partners', 'ET', 'Petroluem Industry', '67418', '\xa073.1%', '12558', 'Dallas, Texas', 'https://en.wikipedia.org/wiki/Dallas,_Texas', '32.779167', '-96.808889')
(55, 'Lockheed Martin', 'https://en.wikipedia.org/wiki/Lockheed_Martin', 'LMT', 'Aerospace and Defense', '67044', '\xa02.5%', '114000', 'Bethesda, Maryland', 'https://en.wikipedia.org/wiki/Bethesda,_Maryland', '38.984722', '-77.113056')
(56, 'Freddie Mac', 'https://en.wikipedia.org/wiki/Freddie_Mac', 'FMCC', 'Financial', '65898', '\xa0-0.5%', '7301', 'McLean, Virginia', 'https://en.wikipedia.org/wiki/McLean,_Virginia', '38.934167', '-77.1775')
(57, 'Goldman Sachs', 'https://en.wikipedia.org/wiki/Goldman_Sachs', 'GS', 'Financial', '64989', '\xa02.7%', '43900', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(58, 'Raytheon Technologies', 'https://en.wikipedia.org/wiki/Raytheon_Technologies', 'RTX', 'Conglomerate', '64388', '\xa013.8%', '174000', 'Waltham, Massachusetts', 'https://en.wikipedia.org/wiki/Waltham,_Massachusetts', '42.376389', '-71.236111')
(59, 'HP', 'https://en.wikipedia.org/wiki/HP_Inc', 'HPQ', 'Technology', '63487', '\xa012.1%', '51000', 'Palo Alto, California', 'https://en.wikipedia.org/wiki/Palo_Alto,_California', '37.429167', '-122.138056')
(60, 'Boeing', 'https://en.wikipedia.org/wiki/Boeing', 'BA', 'Aerospace and Defense', '62286', '\xa07.1%', '142000', 'Chicago, Illinois', 'https://en.wikipedia.org/wiki/Chicago,_Illinois', '41.881944', '-87.627778')
(61, 'Morgan Stanley', 'https://en.wikipedia.org/wiki/Morgan_Stanley', 'MS', 'Financial', '61121', '\xa017.4%', '74814', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(62, 'HCA Healthcare', 'https://en.wikipedia.org/wiki/HCA_Healthcare', 'HCA', 'Healthcare', '58752', '\xa014.0%', '244000', 'Nashville, Tennessee', 'https://en.wikipedia.org/wiki/Nashville,_Tennessee', '36.162222', '-86.774444')
(63, 'AbbVie', 'https://en.wikipedia.org/wiki/AbbVie', 'ABBV', 'Pharmaceuticals', '56197', '\xa022.7%', '50000', 'Lake Bluff, Illinois', 'https://en.wikipedia.org/wiki/Lake_Bluff,_Illinois', '42.2789', '-87.8342')
(64, 'Dow Inc.', 'https://en.wikipedia.org/wiki/Dow_Chemical_Company', 'DOW', 'Chemical', '54968', '\xa042.6%', '35700', 'Midland, Michigan', 'https://en.wikipedia.org/wiki/Midland,_Michigan', '43.615556', '-84.247222')
(65, 'Tesla', 'https://en.wikipedia.org/wiki/Tesla_Inc', 'TSLA', 'Automotive', '53823', '\xa070.7%', '99290', 'Austin, Texas', 'https://en.wikipedia.org/wiki/Austin,_Texas', '30.267222', '-97.743056')
(66, 'Allstate', 'https://en.wikipedia.org/wiki/Allstate', 'ALL', 'General Insurance', '53228', '\xa018.8%', '54500', 'Northfield Township, Cook County, Illinois', 'https://en.wikipedia.org/wiki/Northfield_Township,_Cook_County,_Illinois', '42.107222', '-87.832222')
(67, 'American International Group', 'https://en.wikipedia.org/wiki/AIG', 'AIG', 'General Insurance', '52057', '\xa019.0%', '36600', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(68, 'Best Buy', 'https://en.wikipedia.org/wiki/Best_Buy', 'BBY', 'Retail', '51761', '\xa09.5%', '81375', 'Richfield, Minnesota', 'https://en.wikipedia.org/wiki/Richfield,_Minnesota', '44.882026', '-93.268447')
(69, 'Charter Communications', 'https://en.wikipedia.org/wiki/Charter_Communications', 'CHTR', 'Telecommunications', '51682', '\xa07.5%', '93700', 'Stamford, Connecticut', 'https://en.wikipedia.org/wiki/Stamford,_Connecticut', '41.052778', '-73.538889')
(70, 'Sysco', 'https://en.wikipedia.org/wiki/Sysco', 'SYY', 'Food Service', '51298', '\xa0-3.0%', '57710', 'Houston, Texas', 'https://en.wikipedia.org/wiki/Houston,_Texas', '29.762778', '-95.383056')
(71, 'Merck & Co.', 'https://en.wikipedia.org/wiki/Merck_%26_Co.', 'MRK', 'Pharmaceuticals', '51216', '\xa06.7%', '67500', 'Kenilworth, New Jersey', 'https://en.wikipedia.org/wiki/Kenilworth,_New_Jersey', '40.678089', '-74.288114')
(72, 'New York Life Insurance Company', 'https://en.wikipedia.org/wiki/New_York_Life_Insurance_Company', None, 'General Insurance', '51199', '\xa09.6%', '13344', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(73, 'Novartis', 'https://en.wikipedia.org/wiki/Novartis', 'NVS', 'Pharmaceuticals', '51332', '\xa06.0%', '110000', 'Cambridge, Massachusetts', 'https://en.wikipedia.org/wiki/Cambridge,_Massachusetts', '42.373611', '-71.110556')
(74, 'Caterpillar', 'https://en.wikipedia.org/wiki/Caterpillar_Inc', 'CAT', 'Agriculture Machinery', '50971', '\xa022.1%', '107700', 'Deerfield, Illinois', 'https://en.wikipedia.org/wiki/Deerfield,_Illinois', '42.168333', '-87.851389')
(75, 'Cisco', 'https://en.wikipedia.org/wiki/Cisco', 'CSCO', 'Technology', '49818', '\xa01.0%', '79500', 'San Jose, California', 'https://en.wikipedia.org/wiki/San_Jose,_California', '37.336111', '-121.890556')
(76, 'TJX', 'https://en.wikipedia.org/wiki/TJX', 'TJX', 'Retail', '48550', '\xa051.1%', '340000', 'Framingham, Massachusetts', 'https://en.wikipedia.org/wiki/Framingham,_Massachusetts', '42.279167', '-71.416667')
(77, 'Publix', 'https://en.wikipedia.org/wiki/Publix', None, 'Retail', '48394', '\xa07.1%', '232000', 'Lakeland, Florida', 'https://en.wikipedia.org/wiki/Lakeland,_Florida', '28.055556', '-81.954444')
(78, 'ConocoPhillips', 'https://en.wikipedia.org/wiki/ConocoPhillips', 'COP', 'Petroluem Industry', '48349', '\xa0151.1%', '9900', 'Houston, Texas', 'https://en.wikipedia.org/wiki/Houston,_Texas', '29.762778', '-95.383056')
(79, 'Liberty Mutual Group', 'https://en.wikipedia.org/wiki/Liberty_Mutual_Group', None, 'General Insurance', '48200', '\xa010.1%', '45000', 'Boston, Massachusetts', 'https://en.wikipedia.org/wiki/Boston', '42.360278', '-71.057778')
(80, 'Progressive Corporation', 'https://en.wikipedia.org/wiki/Progressive_Corporation', 'PGR', 'General Insurance', '47702', '\xa011.8%', '49077', 'Mayfield Village, Ohio', 'https://en.wikipedia.org/wiki/Mayfield_Village,_Ohio', '41.551111', '-81.354722')
(81, 'Nationwide Mutual Insurance Company', 'https://en.wikipedia.org/wiki/Nationwide_Mutual_Insurance_Company', None, 'Financial', '47376', '\xa013.0%', '24134', 'Columbus, Ohio', 'https://en.wikipedia.org/wiki/Columbus,_Ohio', '39.962222', '-83.000556')
(82, 'Tyson Foods', 'https://en.wikipedia.org/wiki/Tyson_Foods', 'TSN', 'Food Industry', '47049', '\xa08.9%', '137000', 'Springdale, Arkansas', 'https://en.wikipedia.org/wiki/Springdale,_Arkansas', '36.190278', '-94.1575')
(83, 'Bristol-Myers Squibb', 'https://en.wikipedia.org/wiki/Bristol-Myers_Squibb', 'BMY', 'Pharmaceuticals', '46385', '\xa09.1%', '32200', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(84, 'GSK plc', 'https://en.wikipedia.org/wiki/GSK_plc', 'GSK', 'Pharmaceuticals', '44700', '\xa03.0%', '97000', 'Philadelphia, Pennsylvania', 'https://en.wikipedia.org/wiki/Philadelphia,_Pennsylvania', '39.952778', '-75.163611')
(85, 'Nike', 'https://en.wikipedia.org/wiki/Nike_Inc', 'NKE', 'Apparel', '44538', '\xa019.1%', '73300', 'Beaverton, Oregon', 'https://en.wikipedia.org/wiki/Beaverton,_Oregon', '45.486944', '-122.803611')
(86, 'John Deere & Company', 'https://en.wikipedia.org/wiki/John_Deere', 'DE', 'Agriculture Machinery', '44024', '\xa023.9%', '75550', 'Moline, Illinois', 'https://en.wikipedia.org/wiki/Moline,_Illinois', '41.485833', '-90.499722\t')
(87, 'American Express', 'https://en.wikipedia.org/wiki/American_Express', 'AXP', 'Financial', '43663', '\xa014.3%', '64000', 'New York City, New York', 'https://en.wikipedia.org/wiki/New_York_City', '40.712778', '-74.006111\t')
(88, 'Abbott Laboratories', 'https://en.wikipedia.org/wiki/Abbott_Laboratories', 'ABT', 'Medical / Laboratory Devices', '43075', '\xa024.5%', '113000', 'Chicago, Illinois', 'https://en.wikipedia.org/wiki/Chicago,_Illinois', '41.881944', '-87.627778')

In [28]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM companies"))
    for row in result:
        print(row)

(100,)

In [19]:
stocks_df.to_sql("stocks",con=engine, if_exists="append",index=False)

586

In [33]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM stocks LIMIT 20"))
    for row in result:
        print(row)

('WMT', datetime.date(2022, 1, 3), Decimal('144.0'), Decimal('144.789993'), Decimal('143.009995'), Decimal('144.649994'), Decimal('141.830063'), 6902200)
('WMT', datetime.date(2022, 1, 4), Decimal('144.039993'), Decimal('145.139999'), Decimal('141.759995'), Decimal('142.0'), Decimal('139.231735'), 11310000)
('WMT', datetime.date(2022, 1, 5), Decimal('142.850006'), Decimal('145.949997'), Decimal('142.740005'), Decimal('143.919998'), Decimal('141.114304'), 11806000)
('WMT', datetime.date(2022, 1, 6), Decimal('143.619995'), Decimal('144.639999'), Decimal('142.399994'), Decimal('143.520004'), Decimal('140.722107'), 7276300)
('WMT', datetime.date(2022, 1, 7), Decimal('143.5'), Decimal('145.360001'), Decimal('142.960007'), Decimal('144.889999'), Decimal('142.065384'), 6574500)
('WMT', datetime.date(2022, 1, 10), Decimal('145.440002'), Decimal('145.589996'), Decimal('143.119995'), Decimal('144.610001'), Decimal('141.790863'), 7577200)
('WMT', datetime.date(2022, 1, 11), Decimal('144.210007'), Decimal('144.619995'), Decimal('143.179993'), Decimal('144.199997'), Decimal('141.388855'), 7222900)
('WMT', datetime.date(2022, 1, 12), Decimal('143.679993'), Decimal('143.960007'), Decimal('143.0'), Decimal('143.440002'), Decimal('140.643677'), 6315600)
('WMT', datetime.date(2022, 1, 13), Decimal('143.429993'), Decimal('145.679993'), Decimal('143.110001'), Decimal('145.470001'), Decimal('142.634094'), 8084200)
('WMT', datetime.date(2022, 1, 14), Decimal('144.220001'), Decimal('146.630005'), Decimal('144.220001'), Decimal('145.059998'), Decimal('142.232086'), 8955800)
('WMT', datetime.date(2022, 1, 18), Decimal('144.410004'), Decimal('144.699997'), Decimal('142.130005'), Decimal('142.520004'), Decimal('139.741608'), 7041300)
('WMT', datetime.date(2022, 1, 19), Decimal('142.539993'), Decimal('144.990005'), Decimal('141.919998'), Decimal('143.940002'), Decimal('141.133911'), 7558000)
('WMT', datetime.date(2022, 1, 20), Decimal('142.350006'), Decimal('144.460007'), Decimal('141.070007'), Decimal('141.220001'), Decimal('138.466949'), 7462400)
('WMT', datetime.date(2022, 1, 21), Decimal('141.220001'), Decimal('142.259995'), Decimal('140.059998'), Decimal('140.190002'), Decimal('137.457031'), 9169400)
('WMT', datetime.date(2022, 1, 24), Decimal('139.070007'), Decimal('140.529999'), Decimal('137.309998'), Decimal('140.199997'), Decimal('137.466827'), 9566400)
('WMT', datetime.date(2022, 1, 25), Decimal('139.990005'), Decimal('140.369995'), Decimal('136.809998'), Decimal('137.149994'), Decimal('134.476273'), 9826500)
('WMT', datetime.date(2022, 1, 26), Decimal('137.339996'), Decimal('138.789993'), Decimal('135.160004'), Decimal('135.75'), Decimal('133.103577'), 8728500)
('WMT', datetime.date(2022, 1, 27), Decimal('136.919998'), Decimal('139.080002'), Decimal('135.369995'), Decimal('135.839996'), Decimal('133.191833'), 9253000)
('WMT', datetime.date(2022, 1, 28), Decimal('136.0'), Decimal('137.570007'), Decimal('133.949997'), Decimal('137.520004'), Decimal('134.839066'), 8377300)
('WMT', datetime.date(2022, 1, 31), Decimal('137.089996'), Decimal('140.039993'), Decimal('136.699997'), Decimal('139.809998'), Decimal('137.084427'), 6731200)

In [34]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM stocks"))
    for row in result:
        print(row)

(21586,)