In [1]:
import pandas as pd

In [2]:
companies_df = pd.read_csv("./data/largest_us_companies_2022.csv")
companies_df

,Rank,Name,Name Link,Name.1,Symbol,Industry,2022 Revenue (USD millions),Revenue Growth,Employees,Headquarters City,Headquarters Link,Headquarters Geo Loc
0,1,Walmart,https://en.wikipedia.org/wiki/Walmart,Walmart,WMT,Retail,"572,754",2.4%,"2,300,000","Bentonville, Arkansas","https://en.wikipedia.org/wiki/Bentonville,_Ark...","36.366667, -94.213333"
1,2,Amazon,https://en.wikipedia.org/wiki/Amazon_(company),Amazon,AMZN,Retail,"469,822",21.7%,"1,608,000","Seattle, Washington",https://en.wikipedia.org/wiki/Seattle,"47.609722, -122.333056"
2,3,Apple,https://en.wikipedia.org/wiki/Apple_Inc,Apple,AAPL,Technology,"365,817",33.2%,"154,000","Cupertino, California","https://en.wikipedia.org/wiki/Cupertino,_Calif...","37.323056, -122.031944"
3,4,CVS Health,https://en.wikipedia.org/wiki/CVS_Health,CVS Health,CVS,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island","https://en.wikipedia.org/wiki/Woonsocket,_Rhod...","42.008333, -71.516111"
4,5,UnitedHealth Group,https://en.wikipedia.org/wiki/UnitedHealth_Group,UnitedHealth Group,UNH,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota","https://en.wikipedia.org/wiki/Minnetonka,_Minn...","44.913333, -93.503333"
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,General Dynamics,https://en.wikipedia.org/wiki/General_Dynamics,General Dynamics,GD,Aerospace and Defense,"38,469",8.7%,"103,100","Reston, Virginia","https://en.wikipedia.org/wiki/Reston,_Virginia","38.954444, -77.346389"
96,97,CHS,https://en.wikipedia.org/wiki/CHS_Inc,Chico's FAS,CHS,Agriculture Cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota",https://en.wikipedia.org/wiki/Inver_Grove_Heights,"44.848056, -93.042778"
97,98,USAA,https://en.wikipedia.org/wiki/USAA,USAA,NaN,Financial,"37,470",3.2%,"37,335","San Antonio, Texas",https://en.wikipedia.org/wiki/San_Antonio,29.42412 -98.49363
98,99,Northwestern Mutual,https://en.wikipedia.org/wiki/Northwestern_Mutual,Northwestern Mutual,NaN,General Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin",https://en.wikipedia.org/wiki/Milwaukee,"43.05, -87.95"
99,100,Nucor,https://en.wikipedia.org/wiki/Nucor,Nucor,NUE,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina","https://en.wikipedia.org/wiki/Charlotte,_North...","35.227222, -80.843056"

In [5]:
companies_df.columns

Index(['Rank', 'Name', 'Name Link', 'Name.1', 'Symbol', 'Industry',
       '2022 Revenue (USD millions)', 'Revenue Growth', 'Employees',
       'Headquarters City', 'Headquarters Link', 'Headquarters Geo Loc'],
      dtype='object')

In [3]:
stocks_df = pd.read_csv("./data/stock_prices_2022.csv")
stocks_df

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,WMT,1/3/2022,144.000000,144.789993,143.009995,144.649994,141.830063,6902200
1,WMT,1/4/2022,144.039993,145.139999,141.759995,142.000000,139.231735,11310000
2,WMT,1/5/2022,142.850006,145.949997,142.740005,143.919998,141.114304,11806000
3,WMT,1/6/2022,143.619995,144.639999,142.399994,143.520004,140.722107,7276300
4,WMT,1/7/2022,143.500000,145.360001,142.960007,144.889999,142.065384,6574500
...,...,...,...,...,...,...,...,...
21581,ABBV,12/23/2022,163.389999,163.820007,162.330002,163.100006,160.091415,2685100
21582,ABBV,12/27/2022,163.490005,163.809998,161.779999,162.990005,159.983459,2669200
21583,ABBV,12/28/2022,163.699997,164.690002,162.110001,162.229996,159.237457,2944500
21584,ABBV,12/29/2022,162.960007,163.880005,162.190002,162.559998,159.561386,3112500
21585,ABBV,12/30/2022,162.229996,162.850006,159.820007,161.610001,158.628906,3680400

In [6]:
stocks_df.columns

Index(['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume'],
      dtype='object')